# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
build/
data/
bin/
lib/

# Backup files
*~
*#
*.asv

# data
*.mat
*.csv

# image files
*.png
*.jpg
*.jpeg
*.bmp
*.fig
*.pdf

# videos
*.avi

# compressed files
*.zip
*.rar
*.tgz

# tex 
main.aux
main.bbl
main.blg
main.log
main.out
main.pdf

# misc
testApp.*

mat/figs/

tex/figs/jpgs

